.dialog-container {
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.nivel-form {
  display: flex;
  flex-direction: column;
}

.header-text {
  font-weight: 500;
}

.button-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;

  .button-create {
    background-color: green;
    margin-right: 10px;
    border-radius: 5px;
    width: 100px;
  }

  .button-close {
    background-color: red;
    border-radius: 5px;
    width: 100px;
  }
}